 body{
  overflow-x: hidden;
 }

  /* Center website */
  .main {
    max-width:100%;
    margin: auto;
  }

  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .image_body {
    float: left;
    width:100%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {    
    background-color: white;
    padding: 15px;
    
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    /* background-color: white; */
    cursor: pointer;
  }
  
  .btn.active {
    border: none;
    outline: none;
    background-color: red;
  }

 .content img{
    height: 450px;
    object-fit: cover;
 }
 .image_body{
    border-radius: 20px;
 }
 .image_body:hover{
    box-shadow: 1px 1px 8px black;
    transition: 0.8s;
 }
 a{
  text-decoration: none;
 }


 /* pagination buttons */
 #pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

#pagination button:hover {
  background-color: #e0e0e0;
}

#pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

/* filter button */
#filters {
  text-align: center;
}

#filters button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

#filters button.active {
  background-color: red;
  color: white;
}